<section class="card" id="card{cardUid}" data-uid="{cardUid}">
    <ul class="card_head">
        <li class="order">{order}</li>
        <li class="card_uid">{cardUid}</li>
        <li class="owner">{owner}</li>
        <li class="title_container"><span class="title"><a href="/trace/{bbsUid}/{cardUid}/recent">{title}</a></span> ::
            <span class="size"><a href="/trace/{bbsUid}/{cardUid}">{size}</a></span></li>
        <li class="open_time">{openTime}</li>
        <li class="refresh_time">{refreshTime}</li>
    </ul>
    <ul class="post_container">{postList}</ul>
    <fieldset class="post_form_container">{postForm}</fieldset>
</section>