<a name="input_box"></a>
<form class="forms" enctype="multipart/form-data" action="/post" method="POST">
    <input type="hidden" name="type" value="post"/>
    <input type="hidden" name="bbs_uid" value="{bbsUID}"/>
    <input type="hidden" name="card_uid" value="{cardUID}"/>
    <input type="text" name="name" placeholder="나메"/>
    <input type="text" name="console" placeholder="콘솔"/>
    <textarea name="content" placeholder="내용" spellcheck="false" required></textarea>
    <label class="file_label">
        <span>이미지 업로드</span> : <span class="file_info"></span>
        <input type="file" name="image"/>
    </label>
    <input type="submit" class="submit_button" value="마솝"/>
</form>